/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root,
.theme-dark {
  --bg: #000000;
  --bg1: #1a1919;
  --bg2: #333333;
  --bg3: #4b4b4b;
  --surface: #1e1e1e;
  --text: #ffffff;
  --accent: #3399ff;
  --success: #00ff88;
  --error: #ff6666;
}
 .theme-light {
  --bg: #ffffff;
  --bg1: #dadada;
  --bg2: #a3a3a3;
  --bg3: #6d6d6d;
  --surface: #ffffff;
  --text: #000000;
  --accent: #0077ff;
  --success: #00cc66;
  --error: #ff4444;
}


